# ===================================================
# General
# ===================================================

/bin
/target
/build
/dist
hs_err_pid*

# ====================================================
# Local Spring Boot configuration
# ====================================================

/application*.properties
/application*.yaml

# =====================================================
# Eclipse / STS
# =====================================================

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# =====================================================
# Intellij IDEA
# =====================================================

.idea
*.iws
*.iml
*.ipr

# =====================================================
# NetBeans
# =====================================================

/nbproject/private
/nbbuild
/nbdist
.nb-gradle

# =====================================================
# Mac & S3 mock
# =====================================================

.DS_Store
